.cardcontainer{
    margin: 20px auto;
    width: 500px;
    background-color: aliceblue;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
   
   
}

.cardhead{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  
}
.cardhead img{
    width: 50px;
    height: 50px;
    background-color: transparent;
}
.cardhead h2{
    font-size: 30px;
}

.postimg{
    /* max-width: 480px; */
    width: 100%;
    height: 60%;
    border-radius: 15px;
    margin-bottom: 20px;
}
.description{
    width: 400px;
    font-size: 18px;
    margin: 0.7rem 0rem;
}
.commentsbox{
    width: 80%;
   
}
.commentsbox h3{
    font-size: 24px;
    margin-bottom: 10px;
    align-self:center;
}
.commentsbox span{
    padding: 20px;
    font-size: 15px;
}
.commenthere{
    display: flex;
    align-items: center;
   
}
.commenthere i{
    font-size: 25px;
}
.commenthere input{
    display: block;
    width: 80%;
    margin: 10px auto;
    height: 20px;
    border: 2px solid black;
    outline: none;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    
}