
.home{
    display: grid;
    grid-template-columns: 22% 56% 22%;
    grid-template-areas: 
    "nav nav nav"
    "sidebar centre sidefooter";   
    /* background-color: #9896f1 !important; */
    /* background: url("");  */
    /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    
}
.navbardiv{
    width: 100%;
    grid-area: nav;
    display: block;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

.title{
    margin: 0.5rem 0;
    align-items: center;
}
.sidebardiv{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    margin: 2rem auto 0 1rem;
    position: sticky;
    top: 100px;
    /* padding: 0rem 1rem; */

}
.centrediv{
    grid-area: centre;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidefooterdiv{
    width: 100%;
    display: flex;
    grid-area: sidefooter;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
}

.like-unlike{
    display: flex ;
    /* align-items: flex-start; */
    flex-wrap: wrap;
    /* justify-content: space-around; */
    gap: 1rem;
    align-items: start;

}

.like-unlike i{
    cursor: pointer;
}