.post{
    background-color: #ffff;
    width:  65%;
    margin: auto;
    padding: 4rem 4rem;
}

.createpost h1{
    text-align: center  ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.post button
{
    width: min-content;
    margin: auto;
    text-align: center;
}