
  @import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Shantell+Sans:ital,wght@0,300;1,300&family=Tilt+Neon&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #9896f1 !important;
   
}

.heading{
    font-family:  'Grand Hotel', cursive;
    font-size: 40px;
}

#btn{
    background-color: #27c4f5;
    padding: 0.5rem 6rem;
    border-radius: 0.5rem;
    border: none;
    color: white;
}

input{
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 3px;
    font-size: small;
    width: 15rem;
}

#username{
    margin-bottom: 0.8rem;
}

#password{
    margin-bottom: 1.4rem;
}

.loginform{
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(227, 219, 219);
    background-color: #ffff;
    border-radius: 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin:  8rem auto;
    padding: 30px 0;
    position: relative;
    vertical-align: baseline;
    width: 26rem;
}

.signupform{
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin:  -1rem auto;
    padding: 30px 0;
    position: relative;
    vertical-align: baseline;
    width: 26rem;
}

#Signup{
    margin-top: 1rem;
    color: rgb(69, 180, 232);
}
.flexgrow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexgrow-1{
    flex-grow: 0.4;
    top: 0.45em;
    background-color: rgb(196, 192, 189);
    height: 1px;
    position: relative;
}

.or{
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-top: 1rem;
}
.heading{
    margin-bottom: 2.5rem;
}

#btn{
    width: 15rem;
    cursor: pointer;
}

#fb{
    color: #385185;
    text-decoration: none;
    font-weight: 500;
}

#forgotpass{
    font-size: small;
    margin-top: 16px;
}
.facebook{
    text-align: center;
    margin-top: 1em;
}
.getapp a{
    text-decoration: none;
}

/* toast effect */


/* random images */
/* Random chats****************** */

.mainhead{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    position: absolute;
    top: 1rem;
    left: 40%;
    font-weight: 700;
    
}
.randomChats .r1{
    position: absolute;
    height: 32rem;
    width: 20rem;
    left: 5rem;
    opacity: 0.8    ;
    transform: rotate(0);
    border-radius: 1rem;
}
.randomChats .r2{
    position: absolute;
    height: 32rem;
    width: 20rem;
    right: 5rem;
    top: 5rem;
    z-index: 1;
    transform: rotate(0);
    border-radius: 1rem;
}
.randomChats .r3{
    position: absolute;
    height: 32rem;
    width: 20rem;
    right: 5rem;
    top: 5rem;
    z-index: 1;
    transform: rotate(0);
    border-radius: 1rem;
}
.randomChats .r4{
    position: absolute;
    height: 32rem;
    width: 20rem;
    right: 12rem;
    top: 14rem;
    opacity: 0.7;
    z-index: 1;
    transform: rotate(0);
    border-radius: 1rem;
}